* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.activePara {
    /* background-color: red; */
    color: black;
    font-size: 24px;
    border: 1px solid green;
}

.loginModel {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 10px gray;
    position: fixed;
    left: 50%;
    top: -500%;
    transform: translate(-50%, -50%);
    transition: 3s;
}

.loginModel h2 {
    text-align: center;
    color: black;
}

.loginModel span {
    display: block;
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}

.main {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 2px #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.mainInner {
    width: 260px;
    height: 260px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.mainInnerChild {
    width: 220px;
    height: 220px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    max-width: 1320px;
    margin: 0px auto;
}

.faq {
    border: 1px solid red;

}

.faq h3 {
    background-color: aqua;
    padding: 20px 5px;
    cursor: pointer;
}
.faq p{
    padding: 5px;
}